header {
	background-color: rgb(37, 50, 55);
}

.navbar {
	display: flex;
	padding: 1rem;
	align-items: center;
	width: 80%;
	margin: auto;
	justify-content: space-between;
}

.nav-button {
	margin: 1rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	border-bottom: 3px solid transparent;
}

.nav-button:hover {
	border-bottom: 3px solid white;
	color: darkgray;
}

.activeNavStyle {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.main-navbar {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 3rem;
}

#user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shopping-cart {
	color: white !important;
}

.drop-down-button {
	margin-left: 1rem;
	background-color: transparent !important;
	border-style: none !important;
}

.hidden-dropdown {
	display: none;
}

@media screen and (max-width: 670px) {
	.nav-button {
		display: none;
	}

	.navbar { 
		justify-content: flex-start;
		width: unset;
	}

	.hidden-dropdown {
		display: unset;
	}
}