.shop-page-header{
    background-image: url(/public/images/conacts-header.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-page-header h2 {
    margin: 5rem;
}

.shop-page-products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin: 3rem auto;
    justify-content: center;
    max-width: 1800px;
}

.css-1p5q5e5-MuiStack-root {
    margin: 20px;
    align-self: flex-end;
    justify-self: flex-end;
}

.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
}

