.product-wrapper {
	display: flex;
	flex-direction: column;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	border: 2px solid rgb(163, 162, 162);
	padding: 0.5rem;
	border-radius: 15px;
	position: relative;
	height: 40vh;
	width: 14rem;
	min-height: 380px;
	min-width: 225px;
	max-height: 400px;
	max-width: 300px;
	flex-basis: 18%;
}

.product-image-wrapper {
	height: 65%;
	flex-shrink: 3;
}

.product-image-wrapper img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
	object-position: top;
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
	transition: opacity 1s ease;
}

.product-info-wrapper {
	margin: 1rem;
	/* text-align: center; */
	flex-shrink: 5;
	display: flex;
	flex-direction: column;
}

.product-info-wrapper h5 {
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	position: relative;
}

.product-price {
	text-align: left;
}

#product-wrapper:hover {
	border-color: rgb(79, 182, 141);
}

#product-wrapper:hover .hidden-button {
	visibility: visible;
	opacity: 1;
	bottom: 40px;
}

#product-wrapper:hover img {
	opacity: 0.6;
}

#product-wrapper:hover .hidden-magnifing-glass {
	opacity: 1;
	visibility: visible;
}

.hidden-button {
	font-family: sans-serif;
	visibility: hidden;
	opacity: 0;
	font-weight: 700;
	border-bottom: 2px solid black;
	background-color: white;
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	transition: visibility 1s, opacity 0.5s, bottom 400ms linear;
}

.product-details-button {
	color: black;
	text-decoration: none;
	border-style: none;
	background-color: transparent;
	font-weight: 600;
}

.hidden-magnifing-glass {
	position: absolute;
	top: 30%;
	left: 40%;
	background-color: white;
	border-radius: 60px;
	border-style: none;
	visibility: hidden;
	opacity: 0;
	transition: background-color 600ms, opacity 1s linear;
}

.hidden-magnifing-glass i {
	margin: 1rem;
	color: black;
}

.hidden-magnifing-glass:hover {
	background-color: rgb(79, 182, 141);
}

.edit-button-shop-page:hover {
	color: black;
}

.product-details-image {
	object-fit: contain;
	width: 80%;
	max-width: 280px;
}

.modal-container {
	width: 50vw;
}

.details-quantity-input {
	width: 100px;
	display: inline-block;
	position: relative;
	left: 50%;
	bottom: 15%;
}

.details-quantity-label {
	display: inline-block;
	position: absolute;
	left: 40%;
	bottom: 15%;
}

@media screen and (max-width: 600px) {
	.product-wrapper {
		flex-basis: 38%;
	}
}

@media screen and (max-width: 1024px) {
	.modal-container {
		width: 90%;
	}

	.details-quantity-input {
		display: none;
	}

	.details-quantity-label {
		display: none;
	}
}